<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start">Back</ion-back-button>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="medium">
    <ion-card-content>
      <ion-card-subtitle style="text-align: center;">How it works?</ion-card-subtitle>
      <video width="100%" controls="controls" preload="metadata" muted="muted" webkit-playsinline="webkit-playsinline"
        class="videoPlayer">
        <source src="assets/tutorial.mp4" type="video/mp4" />
      </video>
    </ion-card-content>
  </ion-card>
  <ion-card color="medium">
    <ion-card-content>
      <ion-card-subtitle style="text-align: center;">Users Manual</ion-card-subtitle>
      <img src="assets/tuto1.jpg">
      <p>1. First of all, users will see the page displayed as the welcome page that will direct users to the home page.
      </p><br>
      <img src="assets/tuto2.jpg">
      <p>2. At the upper left, users can see a menu button that will navigate users to About, Contact and Tutorial page.
        Meanwhile at the upper right, "+" button is to add new tasks.
      </p><br>
      <img src="assets/tuto5.jpg">
      <p>3. This is the page where users will add their new tasks. Users are required to put the task name, set the task
        priority, and set a date to the task. For priority, there are 3 levels which are Low, Normal and High.
      </p><br>
      <img src="assets/tuto6.jpg">
      <p>4. Tasks will be displayed as their name, priority and date that has been assigned. Once the task is done,
        users can check toggle as the task is done and will be displayed as completed.
      </p><br>
      <img src="assets/tuto8.jpg">
      <p>5. Next, share buttons which users
        can share tasks to their friends. Task sharing is connected to their whatsapp contact. Lastly, the reorder
        button which users can reorder tasks as they want.</p><br>
      <img src="assets/tuto9.jpg">
      <p>6. If users slide the task, there will be two options which users can edit or delete tasks. New changes will be
        displayed on the home page.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>