<ion-header translucent>
  <ion-toolbar>
    <ion-back-button slot="start">Back</ion-back-button>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      - You may organise and keep track of your chores, notes, and reminders using a task manager or notes-taking app.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      - You can often write and save notes using a note-taking app, and you can organise your notes into tags or
      folders for quick access. These notes may be in the form of text, pictures, audio files, and other multimedia. 
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Developed by: Imtiaz binti Mohd Rafie
    </ion-card-content>
  </ion-card>
</ion-content>