<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()" routerLink="/home">Back</ion-button>
    </ion-buttons>

    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <div>
    <ion-item>
      <ul style="list-style-type: none; text-align: center;">
        <li>Imtiaz binti Mohd Rafie</li>
        <li>AM2107009927</li>
        <li>FYP3024</li>
        <li>Section 3</li>
      </ul>
    </ion-item>

    <p><ion-icon name="mail"></ion-icon>&nbsp;<a href="mailto:imtiazrafie2606@gmail.com">imtiazrafie2606@gmail.com</a>
    </p>

    <p>
      <a href="https://www.instagram.com/imtiazrafie_/" _target="blank"><ion-icon name="logo-instagram"></ion-icon></a>&nbsp;
      <a href="https://www.snapchat.com/add/cherrybe0m?share_id=g-ObBzOrj-c&locale=en-GB" _target="blank"><ion-icon name="logo-snapchat"></ion-icon></a> &nbsp;
      <a href="https://www.tiktok.com/@beomgo0ey" _target="blank"><ion-icon name="logo-tiktok"></ion-icon></a> &nbsp;
      <a href="https://twitter.com/beomgo0ey" _target="blank"><ion-icon name="logo-twitter"></ion-icon></a>
    </p>
  </div>

  <footer style="text-align: center;">
    <p>&copy; 2023</p>
  </footer>
</ion-content>