<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start">Back</ion-back-button>
    <ion-title style="text-align: center;">Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <p style="text-align: center;">Do follow our social media for more related updates!!</p>
    </ion-item>
    <ion-item>
      <p style="text-align: center;">
        <ion-icon name="mail"></ion-icon>&nbsp; Email: &nbsp;
        <a href="mailto:imtiazrafie2606@gmail.com">imtiazrafie2606@gmail.com</a>
      </p>
    </ion-item>
    <ion-item>
      <p style="text-align: center;">
        <ion-icon name="logo-instagram"></ion-icon>&nbsp; Instagram: &nbsp;
        <a href="https://www.instagram.com/imtiazrafie_/" _target="blank">imtiazrafie_</a>
      </p>
    </ion-item>
    <ion-item>
      <p style="text-align: center;">
        <ion-icon name="logo-snapchat"></ion-icon>&nbsp; Snapchat: &nbsp;
        <a href="https://www.snapchat.com/add/cherrybe0m?share_id=g-ObBzOrj-c&locale=en-GB" _target="blank">cherrybe0m</a>
      </p>
    </ion-item>
    <ion-item>
      <p style="text-align: center;">
        <ion-icon name="logo-tiktok"></ion-icon>&nbsp; Tiktok: &nbsp;
        <a href="https://www.tiktok.com/@beomgo0ey" _target="blank">beomgo0ey</a>
      </p>
    </ion-item>
    <ion-item>
      <p style="text-align: center;">
        <ion-icon name="logo-twitter"></ion-icon>&nbsp; Twitter: &nbsp;
        <a href="https://twitter.com/beomgo0ey" _target="blank">beomgo0ey</a>
      </p>
    </ion-item>
    <ion-item>
      <p style="text-align: center;">
        <ion-icon name="logo-pinterest"></ion-icon>&nbsp; Pinterest: &nbsp;
        <a href="https://www.pinterest.com/beomgo0ey/" _target="blank">beomgo0ey</a>
      </p>
    </ion-item>
  </ion-card>
</ion-content>